-syn      # Check syntax
-i=4      # Use 4 spaces per column
-nt       # Don't use tabs, use spaces
-ci=4     # Continued indentation
-dws      # Delete extra whitespace
-ce       # Cuddled else '} else {'
-bar      # Opening brace always on the right
-ole=unix # Convert to unix line endings
-b        # Create backups and modify the files in-place
-bext='/' # Delete backup files on success
